body {
    color:  #ffff66;
    background-color: #cc3300;
}

#title {
            color:  #000000;
            background: #ffff66;
            border: 2px double;
            padding: 6px;
            text-align: center;
        }
        
        
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
        
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
        
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.right {
    position: absolute;
    right: 0px;
    border: 3px solid #73AD21;
    padding: 10px;
    width:128px;
    height:128px;
}